﻿<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="text" id="username" class="form-control" ng-model="vm.user.username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="text" id="password" class="form-control" ng-model="vm.user.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button ng-click="vm.login()" class="btn btn-primary btn-block">Login</button>
            </div>
        </div>
    </form>
</div>