﻿<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Registration Form</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-9">
                <input type="text" id="firstName" class="form-control" ng-model="vm.user.FirstName">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-9">
                <input type="text" id="firstName" class="form-control" ng-model="vm.user.LastName">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email" class="form-control" ng-model="vm.user.Email">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-9">
                <input type="text" id="phone" class="form-control" ng-model="vm.user.Phone">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="text" id="username" class="form-control" ng-model="vm.user.Username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" class="form-control" ng-model="vm.user.Password">
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">Confirm password</label>
            <div class="col-sm-9">
                <input type="password" id="confirmPassword" class="form-control" ng-model="vm.user.ConfirmPassword">
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-9">
                <input type="date" id="birthDate" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button ng-click="vm.submitSignUp()" class="btn btn-primary btn-block">Sign Up</button>
            </div>
        </div>
    </form> 
</div>