﻿<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">HelpOut</a>
        </div>
        <div [ngSwitch]="isLoggedIn">
            <ul class="nav navbar-nav navbar-right" *ngSwitchCase="true">
                <li><a class="createEvent" href="#/event/new">Loo üritus <span class="glyphicon glyphicon-plus"></span></a></li>
                <li><a href="" routerLink="/accountProfile"><span class="glyphicon glyphicon-user"></span> Profiil</a></li>
                <li><a href="" (click)="logOff()">Logi välja <span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" *ngSwitchCase="false">
                <li><a routerLink="/accountCreate"><span class="glyphicon glyphicon-user"></span> Registreeri</a></li>
                <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>Logi sisse</a></li>
            </ul>
        </div>
    </div>
</nav>