﻿.navbar-inverse {
    background-color: lightgreen;
    border: none;
}
.navbar-brand {
    font-size: 50px;
    color: white;
    line-height: 60px;
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    line-height: 60px;
}

nav.navbar.navbar-inverse {
    height: 90px;
}