﻿<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Registration Form</h2>
        <div class="form-group form-error" id="div-regitration-error">
            <label for="password" class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                {{errorMessage}}
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Eesnimi</label>
            <div class="col-sm-9">
                <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="user.FirstName">
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label">Perekonnanimi</label>
            <div class="col-sm-9">
                <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="user.LastName">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.Email">
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-3 control-label">Telefon</label>
            <div class="col-sm-9">
                <input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="user.Phone">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Kasutajanimi</label>
            <div class="col-sm-9">
                <input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.Username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Salasõna</label>
            <div class="col-sm-9">
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.Password">
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword" class="col-sm-3 control-label">Korrake salasõna</label>
            <div class="col-sm-9">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="user.ConfirmPassword">
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Sünnikuupäev</label>
            <div class="col-sm-9">
                <input type="date" id="birthDate" name="birthDate" class="form-control" [(ngModel)]="user.BirthDate">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button (click)="saveNewAccount()" class="btn btn-primary btn-block">Registreeri</button>
            </div>
        </div>
    </form>
</div>