﻿<div class="userInfo">
    <h3><label>Muuda kasutaja andmeid</label></h3>
    <div class="container">
        <button class="changeButton">Muuda</button>
        <div class="userData">
            <div class="row">
                <br>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{account.firstName}} {{account.lastName}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Kasutajanimi:</td>
                                        <td>{{account.userName}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td><input [(ngModel)]="account.email"/></td>
                                    </tr>
                                    <tr>
                                        <td>Telefon:</td>
                                        <td><input [(ngModel)]="account.phone"/></td>
                                    </tr>
                                    <tr>
                                        <td>Sünnikuupäev:</td>
                                        <td>{{account.birthDate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="" type="button" class="btn btn-sm btn-warning" (click)="confirmEdit(); false">Salvesta</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="events">
<upcoming-events></upcoming-events>
</div>
