﻿.userData {
    display: none;
}

/*.changeButton:focus + .userData {
    display: block;
}*/

.changeButton {
    background-color: lightskyblue;
    border: 2px solid lightskyblue;
    color: white;
    border-radius: 4px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.changeButton:hover,
.changeButton:focus {
    background-color: white;
    color: lightskyblue;
    border: 2px solid lightskyblue;
    border-color: lightskyblue;
}

.userInfo {
    float: left;
    padding-left: 100px;
    width: 400px
}

.events {
    float: left;
    padding-left: 50px;
    width: 800px;
}
