﻿<div class="container center-block">
    <form class="form-horizontal" role="form">
        <h2 class="loginSign">Logi sisse</h2>
        <br>
            <div class="form-group form-error" id="div-login-error">
                <label for="password" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    {{errorMessage}}
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">Kasutajanimi</label>
                <div class="col-sm-9">
                    <input type="text" id="username" name="username" class="form-control" [(ngModel)]="loginUser.username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">Salasõna</label>
                <div class="col-sm-9">
                    <input type="password" id="password" name="password" class="form-control" [(ngModel)]="loginUser.password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button (click)="login()" class="btn btn-primary btn-block">Logi sisse</button>
                </div>
            </div>
</form>
</div>
