﻿body {
    font-family: "sans-serif";
}

.description {
    font-size: 16px;
}
.container {
    padding-left: 60px;
    width: 80%;
    float: left;
}

.eventImage {
    height: 100px;
    height: 100px;
}

.banner {
    background-image: url(https://www.upload.ee/image/7098180/pakiraam1smaller.jpg);
    float: right;
    position: fixed;
    width: 250px;
    height: 332px;

}

.thumbnail {
    border: 2px solid lightgray;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.thumbnail:hover {
    border: 2px solid lime;
    border-color: lime;

}

.eventName {
    font-size: 22px;
}

.custom {
    font-size: 22px;
}

.col-md-3 {
    font-size: 22px;
}

.searchBar {
    width: 70px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

}
.searchBar:hover,
.searchBar:focus {
    width: 100%;
}
.filteredCategory {
    background-color: lightskyblue;
    float: left;
    border: 2px solid lightskyblue;
    color: white;
    border-radius: 4px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
.filteredCategory:hover {
    background-color: white;
    color: lightskyblue;
    border: 2px solid lightskyblue;

}

.customFilter {
    background-color: lightcoral;
    border: 2px solid lightcoral;
    color: white;
    border-radius: 4px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.customFilter:hover {
    background-color: white;
    color: lightcoral;
    border: 2px solid lightcoral;
    border-color: lightcoral;

}

.checkbox.custom {
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

input[type="checkbox"].custom {
    margin-left: 0;
    padding: 0;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label{
    padding-left: 22px;
    height: 33px;
    width: 32px;
    display: inline-block;
    line-height: 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
}

input[type=checkbox].css-checkbox+label.css-label:hover{
    opacity: 0.5;
}

input[type=checkbox].css-checkbox:checked+label.css-label{
    background-position: 0 -33px;
}

.css-label {
    background-image: url(https://www.upload.ee/image/7094780/blue_Checkbox.png);
}

.thumbnail .special{
    background-color:#00ff00;
    margin-bottom:0.5em;
    height:2em;
}

.thumbnail .important{
    background-color:#f2ff00;
    margin-bottom:0.5em;
    height:2em;
}

.thumbnail .basic{
    background-color:transparent;
    margin-bottom:0.5em;
    height:2em;
}

