﻿<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Üritused
            </h1>     
            <div class="row" style="height:6em;">
                <div class="col-md-10">
                    <h3 style="display: inline" class="filteredCategory" *ngFor="let name of selectedCategoryNames">
                        {{name}}
                    </h3>
                </div>
                <div class="col-md-2">
                    Events on page: 
                    <select [(ngModel)]="elementsOnPage" (ngModelChange)="getEvents(1)">
                        <option value="4">4</option>
                        <option value="8">8</option>
                        <option value="12">12</option>
                        <option value="16">16</option>
                    </select>
                </div>
            </div>  
            
        </div>
    </div>
    <br>
    <div class="row">
       <br>
        <div class="col-md-3">
            Otsing
            <br>
            <input [(ngModel)]="searchName" (ngModelChange)="getEvents(1)" id="search-string"  class="searchBar">
            <hr />
            Kategooriad
            <table>
                <tr *ngFor="let category of categories">
                    <td class="custom">                       
                        <input (click)="select(category)" type="checkbox" id="{{category.name}}" class="css-checkbox" value="{{category.name}}" />
                        <label for="{{category.name}}" class="css-label"></label>   
                        <label for="{{category.name}}">{{category.name}} </label>                
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-9">
            <div *ngFor="let event of events">
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail" >
                        <div [ngClass]="setEventClass(event)"></div>
                        <img  class="eventImage" src="{{event.imageUrl}}" onError="this.src = 'http://static-5.app4smart.me/uploads/posts/thumbs/1042/original-a710212ccd.jpg'" alt="">
                        <div class="caption">
                            <p class="eventName" style="overflow: hidden; text-overflow: ellipsis">{{event.name}}</p>
                            <p class="description" style="overflow: hidden; text-overflow: ellipsis">{{event.description}}</p>
                            <p>
                                <a routerLink="/events/{{ event.eventId }}" class="btn btn-default">Vaata lähemalt</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="width:100%;clear:both;text-align:center">
                <ul class="pagination">
                    <li *ngFor ="let page of pagination">
                        <a href (click)="getEvents(page);false">{{page}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <label class="banner"></label>
    </div>
    <hr>
</div>