﻿<div class="container">
    <div class="form-horizontal" role="form">
        <h2>Loo üritus</h2>
        <div class="form-group form-error" id="div-event-add-error">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                {{errorMessage}}
            </div>
        </div>
        <div class="form-group">
            <label for="eventName" class="col-sm-3 control-label">Ürituse nimi</label>
            <div class="col-sm-9">
                <input type="text" id="eventName" class="form-control" [(ngModel)]="evnt.Name">
            </div>
        </div>
        <div class="form-group">
            <label for="eventCategory" class="col-sm-3 control-label">Kategooria</label>
            <div class="col-sm-9">
                <div *ngFor="let cat of categories" [class]="cat.selected ? 'selected': ''">
                    <input (click)="select(cat)" type="checkbox" value="cat.categoryId" id="{{cat.name}}" class="css-checkbox"/>
                    <label for="{{cat.name}}" class="css-label"></label>
                    <label for="{{cat.name}}">{{cat.name}}</label>
                </div> 
            </div>
        </div>
        <div class="form-group">
            <label for="eventPriority" class="col-sm-3 control-label">Kuulutuse tase</label>
            <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="evnt.Priority">
                    <option *ngFor="let priority of priorities;  let i = index" [value]="i">{{priority}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="evantLoacation" class="col-sm-3 control-label">Asukoht</label>
            <div class="col-sm-9">
                <input type="text" id="evantLoacation" class="form-control" [(ngModel)]="evnt.Location">
            </div>
        </div>
        <div class="form-group">
            <label for="volunteersLimit" class="col-sm-3 control-label">Osalejate piirmäär</label>
            <div class="col-sm-9">
                <input type="number" id="volunteersLimit" class="form-control" [(ngModel)]="evnt.VolunteersLimit" min="0">
            </div>
        </div>
        <div class="form-group">
            <label for="startTime" class="col-sm-3 control-label">Algus</label>
            <div class="col-sm-9">
                <input type="datetime-local" id="startTime" class="form-control" [(ngModel)]="evnt.StartTime">
            </div>
        </div>
        <div class="form-group">
            <label for="endTime" class="col-sm-3 control-label">Lõpp</label>
            <div class="col-sm-9">
                <input type="datetime-local" id="endTime" class="form-control" [(ngModel)]="evnt.EndTime">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Kirjeldus</label>
            <div class="col-sm-9">
                <textarea id="description" class="form-control" [(ngModel)]="evnt.Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="imageUrl" class="col-sm-3 control-label">Kuulutuse pilt</label>
            <div class="col-sm-9">
                <input type="text" id="imageUrl" class="form-control" [(ngModel)]="evnt.ImageUrl"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button (click)="addEvent()" class="btn btn-primary btn-block">Loo üritus</button>
            </div>
        </div>
    </div>
</div>