﻿.eventDescription {
    overflow-wrap: break-word;
}
.container {
    padding-left: 60px;
    width: 80%;
    float: left;
}

.banner {
    background-image: url(https://www.upload.ee/image/7097552/fireworksJaanPauk.jpg);
    float: right;
    position: fixed;
    width: 250px;
    height: 332px;
}

.img-responsive {
    max-width: 500px;
    max-height: 500px;
}


.location {
    font-weight: bold;
}
.similarEvent{
    list-style-type: none;
    background-color: lightskyblue;
    border: 4px solid lightskyblue;
    color: white;
    border-radius: 4px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
.similarEvent:hover {
    background-color: white;
    color: lightskyblue;
    border: 2px solid lightskyblue;

}
.categories{
    list-style-type: none;
    background-color: lightcoral;
    border: 2px solid lightcoral;
    color: white;
    border-radius: 4px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
.categories:hover {
    background-color: white;
    color: lightcoral;
    border: 2px solid lightcoral;
    border-color: lightcoral;

}

.dropbtn {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.thumbnail .single_view{
    padding-left:2em;
    padding-right:2em;
}
.thumbnail .well{
    margin-bottom:0;
}