﻿.checkbox.custom {
    float: left;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

input[type="checkbox"].custom {
    margin-left: 0;
    padding: 0;
}

input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0px;
    border: 0;
}

input[type=checkbox].css-checkbox+label.css-label{
    padding-left: 22px;
    height: 33px;
    width: 32px;
    display: inline-block;
    line-height: 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 1;
}

input[type=checkbox].css-checkbox+label.css-label:hover{
    opacity: 0.5;
}

input[type=checkbox].css-checkbox:checked+label.css-label{
    background-position: 0 -33px;
}

.css-label {
    background-image: url(https://www.upload.ee/image/7094780/blue_Checkbox.png);
}