﻿<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <p><strong>Telefon:</strong> {{organizer?.phone}}</p>
                <p><strong>Ürituse looja:</strong> {{organizer?.firstName}} {{organizer?.lastName}}</p>
                <p><strong>Email:</strong> {{organizer?.email}}</p>
                <div class="dropdown">
                    <button class="dropbtn btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></button>
                    <div class="dropdown-content" *ngFor="let participant of participants">
                        <a href="#">{{participant.userName}}</a>
                    </div>
                </div>
                <p><strong>Osalejad:</strong> {{participantCount}} / {{volunteersLimit}}</p>
                <p><strong>Kategooriad:</strong></p>
                <ul class="categories" *ngFor="let category of evnt?.categories">
                    <li>{{category.name}}</li>
                </ul>
            </div>
            <form class="form-horizontal" role="form">
                <h2 *ngIf="isLoggedIn">Liitu üritusega</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button *ngIf="isLoggedIn && joinButtonText != ''" (click)="participate()" class="btn btn-primary btn-block">{{joinButtonText}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <h2>Sarnased üritused</h2>
                    <hr />
                    <div>
                        <div *ngFor="let event of similarEvents; let i=index">
                            <div *ngIf="i<3" class="similarEvent">
                                <h1>{{event.name}}</h1>
                                <p style="overflow:hidden; text-overflow:ellipsis">{{event.description}}</p>
                                <p>
                                    <button (click)="redirectToEvent(event.eventId)" class="btn btn-default">Vaata lähemalt</button>
                                </p>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="single_view">
                    <h1>
                        {{evnt?.name}}
                    </h1>
                    <img class="img-responsive" src="{{evnt?.imageUrl}}" onError="this.src = 'http://static-5.app4smart.me/uploads/posts/thumbs/1042/original-a710212ccd.jpg'" alt="">
                    <div class="caption-full">
                        <div class="eventInfo">
                            <h2>
                                {{evnt?.name}}
                            </h2>

                            <p>
                                <b>Asukoht: </b>{{evnt?.location}}
                            </p>
                            <p>
                                <b>Algab: </b>{{evnt?.startTime}}
                            </p>
                            <p><b>Lõppeb: </b>{{evnt?.endTime}}
                        </div>
                        <hr />
                        <h3>Kirjeldus:</h3>
                        <p class="eventDescription" style="margin-bottom: 50px" style="overflow:hidden; text-overflow:ellipsis">
                            {{evnt?.description}}
                        </p>
                        <hr />
                    </div>
                </div>
                <div class="well">
                    <textarea *ngIf="isLoggedIn" [(ngModel)]="commentText"></textarea>
                    <div class="text-right">

                        <a *ngIf="isLoggedIn" (click)="addComment()" class="btn btn-success">Jäta kommentaar</a>
                        <p class="pull-left">{{commentCount}} kommentaari</p>

                    </div>
                    <hr>
                    <div class="row" *ngFor="let comment of comments">
                        <div class="col-md-12">
                            <strong>{{comment.username}}</strong>
                            <span class="pull-right">{{comment.since}}</span>
                            <p>{{comment.commentText}}</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <label class="banner"></label>
    </div>
</div>
