﻿.pastEventTable, .comingEventTable {
    display: none;
    border: 2px solid lightgray;
    border-radius: 4px;
    font-size: 14px;
}

.comingEventButton, .comingEventButton {
    background-color: greenyellow;
    border: 2px solid greenyellow;
    color: white;
    border-radius: 4px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.comingEventButton:hover {
    background-color: white;
    color: greenyellow;
    border: 2px solid greenyellow;
    border-color: greenyellow;

}

.pastEventButton, .pastEventButton {
    background-color: lightcoral;
    border: 2px solid lightcoral;
    color: white;
    border-radius: 4px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.pastEventButton:hover {
    background-color: white;
    color: lightcoral;
    border: 2px solid lightcoral;
    border-color: lightcoral;

}

.upcomingEvents {
    float: left;
    width: 400px;
}

.pastEvents {
    float: left;
    width: 400px;

}

