﻿<div class="container">
    <div class="upcomingEvents">
        <h3><label>Tulemas üritused</label>
        </h3>
        <button class="comingEventButton">Kuva üritused</button>
        <div class="comingEventTable">
            <table class="table">
                <thead>
                <tr>
                    <th>Ürituse nimi</th>
                    <th>Toimumise aeg</th>
                </tr>
                </thead>
                <tbody *ngFor="let comingEvent of comingEvents">
                <tr>
                    <td><a routerLink="/events/{{ comingEvent.eventId }}">{{comingEvent.name}}</a></td>
                    <td>{{comingEvent.startTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pastEvents">
    <h3><label>Olnud üritused</label>
    </h3>
    <button class="pastEventButton">Kuva üritused</button>
        <div class="pastEventTable">
            <table class="table">
                <thead>
                <tr>
                    <th>Ürituse nimi</th>
                    <th>Toimumise aeg</th>
                </tr>
                </thead>
                <tbody *ngFor="let pastEvent of pastEvents">
                <tr>
                    <td><a routerLink="/events/{{ pastEvent.eventId }}">{{pastEvent.name}}</a></td>
                    <td>{{pastEvent.startTime}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>