﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Logi sisse</h2>
<div class="container" ng-app="app">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">Email: </label>
            <div class="col-sm-10">
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Parool: </label>
            <div class="col-sm-10">
                <input type="text" />
            </div>
        </div>
        <button class="btn btn-success" ng-click="loginUser()">
            Logi sisse <span class="glyphicon glyphicon-log-in"></span>
        </button>
    </form>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/App/app.js"></script>
<script src="~/App/routes.js"></script>