﻿<div class="container">
    <form class="form-horizontal" role="form">
        <h2>Create Event</h2>
        <div class="form-group">
            <label for="eventName" class="col-sm-3 control-label">Event name</label>
            <div class="col-sm-9">
                <input type="text" id="eventName" class="form-control" ng-model="vm.event.Name">
            </div>
        </div>
        <div class="form-group">
            <label for="eventCategory" class="col-sm-3 control-label">Category</label>
            <div class="col-sm-9">
                <input type="number" id="eventCategory" class="form-control" ng-model="vm.event.EventCategory">
            </div>
        </div>
        <div class="form-group">
            <label for="eventPriority" class="col-sm-3 control-label">Priority</label>
            <div class="col-sm-9">
                <input type="number" id="eventPriority" class="form-control" ng-model="vm.event.Priority">
            </div>
        </div>
        <div class="form-group">
            <label for="evantLoacation" class="col-sm-3 control-label">Location</label>
            <div class="col-sm-9">
                <input type="text" id="evantLoacation" class="form-control" ng-model="vm.event.Location">
            </div>
        </div>
        <div class="form-group">
            <label for="volunteersLimit" class="col-sm-3 control-label">Volunteers Limit</label>
            <div class="col-sm-9">
                <input type="number" id="volunteersLimit" class="form-control" ng-model="vm.event.VolunteersLimit">
            </div>
        </div>
        <div class="form-group">
            <label for="startTime" class="col-sm-3 control-label">Start</label>
            <div class="col-sm-9">
                <input type="datetime-local" id="startTime" class="form-control" ng-model="vm.event.Start">
            </div>
        </div>
        <div class="form-group">
            <label for="endTime" class="col-sm-3 control-label">End</label>
            <div class="col-sm-9">
                <input type="datetime-local" id="endTime" class="form-control" ng-model="vm.event.End">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
                <textarea id="description" class="form-control" ng-model="vm.event.Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button ng-click="vm.createEvent()" class="btn btn-primary btn-block">Create</button>
            </div>
        </div>
    </form>
</div>