﻿
<!-- Page Content -->
<div class="container" data-ng-init="vm.getEvents()">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Events
            </h1>
        </div>
    </div>

    <div ng-repeat="event in vm.events">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://static-5.app4smart.me/uploads/posts/thumbs/1042/original-a710212ccd.jpg" alt="">
                <div class="caption">
                    <h3>{{event.name}}</h3>
                    <p style="overflow:hidden; text-overflow:ellipsis">{{event.description}}</p>
                    <p>
                        <button class="btn btn-default" ng-click="vm.getEvent(event.eventId)">More Info</button> 
                        <!--<a href="#!/event/view/{{event.eventId}}" class="btn btn-default">More Info</a>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
      
    <hr>
    <!-- /.row -->

</div>
<!-- /.container -->
