﻿<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <p><strong>Organizer: </strong>{{vm.organizer.userName}}</p>
                <p><strong>Phone: </strong>{{vm.organizer.Phone}}</p>
                <p><strong>Email: </strong>{{vm.organizer.Email}}</p>
                <p><strong>Participant:</strong> 5/{{vm.event.volunteersLimit}}</p>
            </div>
            <!--<button ng-click="" class="btn btn-primary btn-block">Apply</button>-->
            <form class="form-horizontal" role="form">
                <h2>Join event</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="name" class="control-label">Name</label>
                        <input type="text" id="name" class="form-control" ng-model="vm.event.Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="phone" class="control-label">Phone</label>
                        <input type="number" id="phone" class="form-control" ng-model="vm.event.EventCategory">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" id="email" class="form-control" ng-model="vm.event.Priority">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="totalParticipants" class="control-label">Total participants</label>
                        <input type="number" id="totalParticipants" class="form-control" ng-model="vm.event.Location">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button ng-click="" class="btn btn-primary btn-block">Apply</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="http://static-5.app4smart.me/uploads/posts/thumbs/1042/original-a710212ccd.jpg" alt="">
                <div class="caption-full">
                    <h1>
                        {{vm.event.name}}
                    </h1>
                    <p>Location: {{vm.event.location}}</p>
                    <p>Start time: {{vm.event.startTime}}</p>
                    <p>
                        End time: {{vm.event.endTime}}
                        <hr />
                        <h2>Description:</h2>
                    <p style="margin-bottom:50px">
                        {{vm.event.description}}
                    </p>
                    <hr />
                </div>
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success">Leave a Comment</a>
                        <p class="pull-left">3 comments</p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Anonymous</strong>
                            <span class="pull-right">10 days ago</span>
                            <p>This product was great in terms of quality. I would definitely buy another!</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Anonymous</strong>
                            <span class="pull-right">12 days ago</span>
                            <p>I've alredy ordered another one!</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Anonymous</strong>
                            <span class="pull-right">15 days ago</span>
                            <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
